.container
  = form_for [current_user, @profile] do |f|
    .row
      .col-md-6.col-xs-12.col-md-offset-3
        p
          = f.label :first_name
          br/
          = f.text_field :first_name, class: 'form-control'
        p
          = f.label :last_name
          br/
          = f.text_field :last_name, class: 'form-control'
        p
          = f.label :birtday
          br/
          = f.text_field :birtday, type: 'date', class: 'form-control'
        p
          = f.label :avatar
          br/
          = f.file_field :avatar, class: 'file_avatar'
        p
          = f.submit 'Update', class: 'btn btn-success'