.container
  .well
    .media
      .media-left
        p
          = image_tag @profile.avatar.url(:large), class: "img_avatar_show img-rounded"
      .media-body
        h2 Profile info
        table.table
          tr
            th Email
            td
              = @profile.user.email
          tr
            th Full name
            td
              = @profile.full_name
          tr
            th Birtday
            td
              = @profile.birtday
        .btn-group
          = link_to 'Back', coins_path, class: "btn btn-primary back_button"
          - if require_user_profile
            = link_to 'Edit', edit_user_profile_url, class: "btn btn-warning back_edit"