.container
  - @comments.each do |comment|
    .row
      .comment
        .col-md-1.col-xs-2
          = image_tag comment.user.profile.avatar.url(:small), class: "img-circle user_image_small" unless comment.user.blank?
        .col-md-4.col-xs-9
          b
            - if comment.user.profile.first_name == nil
              = comment.user.email
            - else
              = comment.user.profile.full_name
          = simple_format comment.content
          p.comment_time
          = time_ago_in_words(comment.created_at)
          |  Ago
          p
        .col-md-1.col-xs-1
        - if current_user
          - if current_user.id == comment.user_id
            = link_to 'X', [comment.commentable, comment], method: :delete, remote: true, data: {confirm: 'Are you sure?'}
          - elsif current_user.id == @commentable.user_id
            = link_to 'X', [comment.commentable, comment], method: :delete, remote: true, data: {confirm: 'Are you sure?'}
    br