.container
  = form_for [@commentable, @comment], remote: true do |f|
    - if @comment.errors.any?
      #error_explanation
        .alert.alert-danger role="alert" 
          h5
            = pluralize(@comment.errors.count, "error")
            | prohibited
            | this pet from being saved:
          ol
            - @comment.errors.full_messages.each do |msg|
              li= msg
    .row
      .col-md-8.col-xs-12
        p
          = f.label :content
          br/
          = f.text_area :content, class: 'form-control'
        p
          = f.submit class: 'btn btn-success'