#carousel.carousel.slide
  ol.carousel-indicators
    li.active data-slide-to="0" data-target="#carousel"
    li data-slide-to="1" data-target="#carousel"
    li data-slide-to="2" data-target="#carousel"
  .carousel-inner
    .item.active
      = image_tag "carousel1.jpg"
    .item
      = image_tag "carousel2.jpg"
    .item
      = image_tag "carousel3.jpg"
  a.left.carousel-control data-slide="prev" href="#carousel"
    i.fa.fa-chevron-left.chevron-left_car aria-hidden="true"
  a.right.carousel-control data-slide="next" href="#carousel"
    i.fa.fa-chevron-right.chevron-right_car aria-hidden="true"