footer.section.footer
  .footer-bottom
    .container
      .col-md-12
        p
        ul.footer-share
          li
            a href="https://vk.com/crashgtafan"
              i.fa.fa-vk
          li
            a href="https://www.facebook.com/profile.php?id=100010589944972"
              i.fa.fa-facebook
          li
            a href="https://github.com/CrashGtaFan"
              i.fa.fa-github
          li
            a href="https://bitbucket.org/DanilUdalov/"
              i.fa.fa-bitbucket
        p
          | CrashGtaFan © 2016 All rights reserved. All Rights Reserved