body
  header#header
    .header-content.clearfix
      = image_tag "/assets/coins_logo.png" , class: "img_logo_coins"
      nav.navigation role="navigation"
        ul.primary-nav
          li= link_to "Home", root_path
          li= link_to "Show coins", coins_path
          li= link_to "Show bills", bills_path
          - if current_user
            li= link_to "Profile", user_profile_path(current_user, current_user.profile)
            li= link_to "Log Out", logout_path
          - else
            li 
              a data-target="#myModal" data-toggle="modal"
                | Log in
      a.nav-toggle href="#"
        | Menu
        span
  #banner.banner.no-padding
    .container-fluid
      .row.no-gutter
        ul.slides
          li
            blockquote
            p.navbar-text.navbar-left.signup_name
              - if current_user
                - if current_user.profile.first_name == nil
                  p Signed in as #{current_user.email}
                - else
                  p Signed in as #{current_user.profile.full_name}