#myModal.modal.fade aria-labelledby="myModalLabel" role="dialog" tabindex="-1" 
  .modal-dialog role="document"
    .modal-content
      .modal-header
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true"  ×
        h4#myModalLabel.modal-title Log in
      center
        h4 Sign in with a social network
        = link_to '/auth/vkontakte' do
          span.fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-vk.fa-stack-1x.fa-inverse
        = link_to '/auth/facebook' do
          span.fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-facebook.fa-stack-1x.fa-inverse
      .modal-footer
        button.btn.btn-danger data-dismiss="modal" type="button"  Close