= render 'shared/carousel'
section#teams.section.teams
  .container
    .row
      .col-md-5.col-sm-4
        .bio
          = image_tag "/assets/coins.jpg" , class: "img_coins"
      .col-md-7.col-sm-8
        .bio
          .bio-content
            h4 Welcome
            h5 UX/UI Designer, Front-end Developer
            p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.vel eu leo.