section#teams.section.teams
  center
    - if current_user
      = link_to 'New bills', new_bill_path, class: 'btn btn-success'
  p
  - @bills.each do |bill|
    .col-sm-6.col-md-4
      .thumbnail
        = image_tag bill.front_part_b.url(:thumb), class: "img_bills_index"
        .caption
          h4= link_to bill.nominal_currency, bill