.container
  .well
    .row
      .col-md-6.col-xs-12
        = image_tag @bill.front_part_b.url(:large), class: "img_bills_show"
        p Front part
      .col-md-6.col-xs-12
        = image_tag @bill.rear_part_b.url(:large), class: "img_bills_show"
        p Rear part
    .row
      .col-md-9.col-xs-12
        table.table.table-bordered
          thead
            tr
              th Name
              th Year
              th Country
              th Coint
          tbody
            td
              = @bill.nominal_currency
            td
              = @bill.year
            td 
              = @bill.country
            td
              = @bill.count
        b Description
        p
          = @bill.description.html_safe
      .col-md-3.col-xs-12
        .list-group
          = link_to 'Back', bills_path, class: "list-group-item"
          - if require_user_bills
            = link_to 'Edit', edit_bill_path(@bill), class: "list-group-item"
            = link_to 'Destroy', bill_path(@bill), method: :delete, data: { confirm: 'Are  you sure?' }, class: "list-group-item"
    .row.comment
      = render "comments/comments"
      = render "comments/form"