/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/glyphicons';
@import "animate.min";
@import "flexslider";
@import "font-icon.min";
@import "jquery.fancybox";
@import "main";
@import "responsive";
@import 'font-awesome.min';
#header{
  color: black;
}
.img_logo_coins{
  width: 50px;
  height: 50px;
}
.img_coins_index{
  width: 200px;
  height: 200px;  
}
.img_coins{
  width: 300px;
  height: 300px;  
}
.img_coins_show{
  width: 400px;
  height: 400px;  
}
.img_bills_show{
  width: 400px;
  height: 200px;  
}
.img_avatar_show{
  width: 400px;
  height: 400px;  
}
body {
  background: url('http://wallpoper.com/images/00/43/58/54/white-damask-background_00435854.jpg');
  color: black;
}
.edit_button{
  background-color: #3b3fc4;
}
.back_button{
  background-color: #d20505;
}
.show_collectmoney{
  background-color: #74c51b;
}
.upload_front_part{
  width: 100px;
  height: 100px; 
}
.upload_rear_part{
  width: 100px;
  height: 100px; 
}
.user_image_small{
  width: 50px;
  height: 50px;
}
.user_image_small_header{
  width: 50px;
  height: 50px;
}
.banner p{
  color: #000;
  display: block;
  font-size: 30px;
  font-style: normal;
  letter-spacing: 0px;
  font-weight: 700;
}