.container
  = form_for @coin do |f|
    - if @coin.errors.any?
      #error_explanation
        .alert.alert-danger role="alert" 
          h5
            = pluralize(@coin.errors.count, "error")
            | prohibited
            | this pet from being saved:
          ol
            - @coin.errors.full_messages.each do |msg|
              li= msg
    .row
      .col-md-4.col-xs-4
        p
          = f.label :nominal
          br/
          = f.text_field :nominal, class: 'form-control'
      .col-md-4.col-xs-4
        p
          = f.label :currency
          br/
          = f.text_field :currency, class: 'form-control'
      .col-md-4.col-xs-4
        p
          = f.label :year
          br/
          = f.text_field :year, class: 'form-control'
    .row
      .col-md-4.col-xs-4
        p
          = f.label :country
          br/
          = f.text_field :country, class: 'form-control'
      .col-md-4.col-xs-4
        p
          = f.label :metal
          br/
          = f.text_field :metal, class: 'form-control'
      .col-md-4.col-xs-12
        p
          = f.label :count
          br/
          = f.text_field :count, type: 'number', min: "0", class: 'form-control'
    .row
      .col-md-12.col-xs-12
        p
          = f.label :description
          br/
          = f.text_area :description, class: 'form-control'
    .row
      .col-md-4.col-xs-6
        p
          = f.label :front_part
          br/
          = f.file_field :front_part, class: 'file_front_part'
        .upload-preview_front_part
          img.upload_front_part/
      .col-md-4.col-xs-6
        p
          = f.label :rear_part
          br/
          = f.file_field :rear_part, class: 'file_rear_part'
        .upload-preview_rear_part
          img.upload_rear_part/
      .col-md-4.col-xs-12
        = link_to 'Back', coins_path, class: 'btn btn-primary'
        = f.submit 'Add', class: 'btn btn-success'