section#teams.section.teams
  center
    - if current_user
      = link_to 'New coins', new_coin_path, class: 'btn btn-success'
  p
  - @coins.each do |coin|
    .col-sm-6.col-md-4
      .thumbnail
        = image_tag coin.front_part.url(:thumb), class: "img_coins_index img-rounded"
        .caption
          h4= link_to coin.nominal_currency, coin