.container
  .well
    .row
      .col-md-6.col-xs-12
        = image_tag @coin.front_part.url(:large), class: "img_coins_show img-circle"
        p Front part
      .col-md-6.col-xs-12
        = image_tag @coin.rear_part.url(:large), class: "img_coins_show img-circle"
        p Rear part
    .row
      .col-md-9.col-xs-12
        table.table.table-bordered
          thead
            tr
              th Name
              th Year
              th Country
              th Metal
              th Coint
          tbody
            td
              = @coin.nominal_currency
            td
              = @coin.year
            td 
              = @coin.country
            td
              = @coin.metal
            td
              = @coin.count
        b Description
        p
          = @coin.description.html_safe
      .col-md-3.col-xs-12
        .list-group
          = link_to 'Back', coins_path, class: "list-group-item"
          - if require_user_coins
            = link_to 'Edit', edit_coin_path(@coin), class: "list-group-item"
            = link_to 'Destroy', coin_path(@coin), method: :delete, data: { confirm: 'Are  you sure?' }, class: "list-group-item"
    .row.comment
      = render "comments/comments"
      = render "comments/form"